@media (min-width: 800px) {/*(pointer: coarse) or */
    section {
        top: calc(20px + var(--nav-height));
    }
    
    sidebar {
        top: calc(20px + var(--nav-height));
    }

    li[settings] {
        display: none;
    }

    sidebar {
        position: relative !important;
        display: flex !important;
        width: 500px !important;
        border-left: solid var(--border-light) 1px !important;
    }

    label[back] {
        display: none !important;
    }

    alert {
        display: flex !important;
    }
}

body {
    display: flex;
}

section {
    position: relative;
    display: flex;
    flex: 1;
    gap: 20px;
    height: calc(100vh - (60px + var(--nav-height)));
    padding: 20px;
    flex-direction: column;
}

section div {
    position: relative;
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    border-radius: 10px;
    border: solid 1px var(--primary);
    background-color: var(--background-secondary);
    box-shadow: 0 0 10px var(--primary);
    cursor: pointer;
}

section div:before {
    position: absolute;
    top: 10px;
    left: 10px;
    content: 'Smudge';
    color: var(--text-primary);
    font-family: 'Phasmophobia';
    font-size: 0.3em;
}

#smudge:before {
    content: 'Smudge Timer';
}

#obombo:before {
    content: 'Obambo Timer';
}

#ms:before {
    content: 'Ghost Speed';
}

section div:active {
    background-color: var(--border);
}

#smudge {
}

#obombo {
    color: var(--gold);
}

#ms {
    color: var(--ghost-green);
}

label[settings] {
    display: block;
    padding: 20px;
    cursor: pointer;
}

label[settings] svg {
    display: block;
    width: 20px;
    height: 20px;
    fill: var(--text-primary);
}

label[settings]:hover {
    background-color: var(--primary);
}

label[settings]:hover svg {
    fill: #000000;
}

label[back] {
    display: block;
    width: 40px;
    height: 40px;
    margin: 10px 0 0 10px;
    border-radius: 40px;
    cursor: pointer;
}

label[back] svg, label[close] svg {
    fill: var(--text-primary);
}


label[back]:hover {
    background-color: var(--primary);
}

label[back]:hover svg {
    fill: #000000;
}

label[close] {
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 20px;
    padding: 5px;
    cursor: pointer;
}

label[close]:hover {
    background-color: #000000;
}

sidebar {
    position: relative;
    position: fixed;
    left: 0;
    width: 100%;
    height: calc(100vh - (20px + var(--nav-height)));
    max-height: calc(100vh - (20px + var(--nav-height)));
    display: none;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    background-color: var(--background);
}

sidebar content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(100% - 40px);
    gap: 20px;
    padding: 20px;
}

#settings:checked ~ sidebar {
    display: flex;
}

vcolumn {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

hcolumn {
    display: flex;
    gap: 10px;
    align-items: center;
}

h2 {
    color: var(--primary);
}

h3 {
    font-weight: normal;
}

p {
    color: var(--text-secondary);
}

label[checkbox] {
    position: relative;
    width: 50px;
    height: 20px;
    background-color: var(--text-secondary);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

label[checkbox]:after {
    position: absolute;
    top: -2.5px;
    left: 0;
    width: 25px;
    height: 25px;
    content: '';
    background-color: var(--primary);
    border-radius: 50px;
    transition: left 0.2s;
}

input[type='checkbox']:checked ~ label[checkbox] {
    background-color: var(--secondary);
}

input[type='checkbox']:checked ~ label[checkbox]:after {
    left: calc(100% - 25px);
}




progress-bar {
    position: relative;
    display: flex;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    margin: auto;
    align-items: center;
    --seek: 0%;
    --loaded: 0%;
    z-index: 10;
}

bar {
    display: block;
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: height 0.3s;
    cursor: pointer;
}

bar:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background-color: var(--primary);
}

progress-bar bar:after {
    width: var(--seek);
}

progress-bar:hover bar {
    height: 10px;
}

thumb {
    display: block;
    position: relative;
    top: -100%;
    width: 15px;
    height: 15px;
    aspect-ratio: 1 / 1;
    margin-left: -7.5px;
    background-color: var(--primary);
    transition: width 0.3s, height 0.3s, top 0.3s, margin-left 0.3s;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    z-index: 2;
}

progress-bar thumb {
    left: var(--seek);
}

progress-bar:hover thumb, volume-bar:hover thumb {
    width: 25px;
    height: 25px;
    margin-left: -12.5px;
    top: -80%;
}

alert {
    position: fixed;
    display: none;
    left: 50px;
    bottom: 50px;
    padding: 10px;
    width: calc(100% - 620px);
    align-items: center;
    background-color: var(--alert);
    border-radius: 10px;
    z-index: 3;
}

input[type='checkbox']:checked ~ alert {
    display: none !important;
}

alert a {
    flex: 1;
    color: var(--text-primary);
}
