:root {
    --top: 60px;

    --primary: #dc5bfc;
    --secondary: #6b339e;

    --background: #2b2d30;
    --background-secondary: #1e1f22;
    --background-shimmer: #393b40;
    
    --text-primary: #f6f6f6;
    --text-secondary: #cbd7dc;
    --text-dark: #9B9D9F;

    --border: #5a5d63;
    --border-light: #4e5157;
    
    --ripple: rgba(255, 255, 255, 0.15);
    --gold: #ffb224;
    --ghost-green: #6bffb0;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width: 800px) {/*(pointer: coarse) or */
    label[settings] {
        display: none !important;
    }

    sidebar {
        position: relative !important;
        display: flex !important;
        width: 500px !important;
        border-left: solid var(--border-light) 1px !important;
    }
}

html {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: 1em;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

::selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

::-moz-selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

body {
    display: flex;
    margin: 0;
}

section {
    display: flex;
    flex: 1;
    height: calc(100vh - 2px);
    flex-direction: column;
}

section div {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    cursor: pointer;
}

section div:not(:last-child) {
    border-bottom: solid 1px var(--border);
}

section div:active {
    background-color: var(--background-secondary);
}

#smudge {
}

#obombo {
    color: var(--gold);
}

#ms {
    color: var(--ghost-green);
}

label[settings] {
    position: fixed;
    top: 10px;
    right: 10px;
    display: block;
    width: 40px;
    height: 40px;
    cursor: pointer;
    z-index: 2;
}

label[settings] svg {
    fill: var(--text-primary);
    transition: fill 0.3s;
}

label[settings]:hover svg {
    fill: var(--text-secondary);
}

sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    max-height: 100vh;
    display: none;
    flex-direction: column;
    overflow-y: auto;
    gap: 20px;
    background-color: var(--background-secondary);
}

sidebar content {
    display: flex;
    flex-direction: column;
    flex: 1;
    width: calc(100% - 40px);
    gap: 20px;
    padding: 20px;
}

#settings:checked ~ sidebar {
    display: flex;
}

vcolumn {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: 10px;
}

hcolumn {
    display: flex;
    gap: 10px;
    align-items: center;
}

h2, h3, p {
    margin: 0;
    padding: 0;
}

h2 {
    color: var(--primary);
}

h3 {
    font-weight: normal;
}

p {
    color: var(--text-secondary);
}

input[type='checkbox'] {
    display: none;
}

label[checkbox] {
    position: relative;
    width: 50px;
    height: 20px;
    background-color: var(--text-secondary);
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.2s;
}

label[checkbox]:after {
    position: absolute;
    top: -2.5px;
    left: 0;
    width: 25px;
    height: 25px;
    content: '';
    background-color: var(--primary);
    border-radius: 50px;
    transition: left 0.2s;
}

input[type='checkbox']:checked ~ label[checkbox] {
    background-color: var(--secondary);
}

input[type='checkbox']:checked ~ label[checkbox]:after {
    left: calc(100% - 25px);
}




progress-bar {
    position: relative;
    display: flex;
    width: 100%;
    height: 20px;
    padding: 10px 0px;
    margin: auto;
    align-items: center;
    --seek: 0%;
    --loaded: 0%;
    z-index: 10;
}

bar {
    display: block;
    position: relative;
    width: 100%;
    height: 5px;
    background-color: rgba(255, 255, 255, 0.6);
    transition: height 0.3s;
    cursor: pointer;
}

bar:after {
    display: block;
    content: '';
    position: absolute;
    top: 0;
    height: 100%;
    background-color: var(--primary);
}

progress-bar bar:after {
    width: var(--seek);
}

progress-bar:hover bar {
    height: 10px;
}

thumb {
    display: block;
    position: relative;
    top: -100%;
    width: 15px;
    height: 15px;
    aspect-ratio: 1 / 1;
    margin-left: -7.5px;
    background-color: var(--primary);
    transition: width 0.3s, height 0.3s, top 0.3s, margin-left 0.3s;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
    border-radius: 100%;
    z-index: 2;
}

progress-bar thumb {
    left: var(--seek);
}

progress-bar:hover thumb, volume-bar:hover thumb {
    width: 25px;
    height: 25px;
    margin-left: -12.5px;
    top: -80%;
}

footer {
    display: flex;
    width: calc(100% - 80px);
    min-width: calc(var(--min-width) - 80px);
    padding: 80px 40px 20px 40px;
    font-size: 1em;
    background-color: #000000;
    border-top: solid 3px var(--primary);
    align-items: center;
    flex-direction: column;
}

footer nav {
    display: flex;
    width: 100%;
    max-width: var(--max-content-width);
    margin-bottom: 60px;
}

footer nav div {
    flex: 1;
}

footer nav div[type='social'] {
    display: flex;
    gap: 20px;
}

footer nav div[type='social'] svg {
    display: block;
    width: 40px;
    height: 40px;
    fill: var(--text-primary);
    transition: fill 0.3s;
}

footer nav div[type='social'] a:hover svg {
    fill: var(--primary);
}

footer title {
    display: block;
    color: var(--text-primary);
    font-weight: bold;
    margin-bottom: 10px;
}

footer ul {
    display: block;
    padding: 0;
    margin: 0 auto;
}

footer li {
    display: block;
    padding: 2px 0;
}

footer li a {
    font-size: 0.8em;
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

footer li a:hover {
    color: var(--primary);
}

footer year {
    display: block;
    width: 100%;
    max-width: var(--max-content-width);
    height: 30px;
    padding-top: 20px;
    color: var(--white);
    border-top: solid 1px var(--white);
    line-height: 30px;
    font-size: 0.8em;
}

footer year span {
    color: var(--primary);
}
