:root {
    --top: 60px;

    --primary: #dc5bfc;
    --secondary: #6b339e;

    --background: #2b2d30;
    --background-secondary: #1e1f22;
    --background-shimmer: #393b40;
    
    --text-primary: #f6f6f6;
    --text-secondary: #cbd7dc;
    --text-dark: #9B9D9F;

    --border: #5a5d63;
    --border-light: #4e5157;
    
    --ripple: rgba(255, 255, 255, 0.15);
    --gold: #ffb224;
    --ghost-green: #6bffb0;
}

html {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: 1em;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

::selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

::-moz-selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

body {
    margin: 0;
}

section {
    display: flex;
    height: calc(100vh - 2px);
    flex-direction: column;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

div {
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4em;
    font-weight: bold;
    cursor: pointer;
}

section div:not(:last-child) {
    border-bottom: solid 1px var(--border);
}

#smudge {
}

#obombo {
    color: var(--gold);
}

#ms {
    color: var(--ghost-green);
}

