:root {
    --top: 60px;

    --primary: #dc5bfc;
    --secondary: #6b339e;

    --background: #17101a;
    --background-secondary: #4b3554;
    --background-shimmer: #393b40;
    
    --text-primary: #f6f6f6;
    --text-secondary: #cbd7dc;
    --text-dark: #9B9D9F;

    --border: #5a5d63;
    --border-light: #4e5157;
    
    --ripple: rgba(255, 255, 255, 0.15);
    --gold: #ffb224;
    --ghost-green: #6bffb0;
}

* {
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
    -khtml-user-select: none; /* Konqueror HTML */
    -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                supported by Chrome, Edge, Opera and Firefox */
}

@media (min-width: 800px) {/*(pointer: coarse) or */
    label[settings] {
        display: none !important;
    }

    sidebar {
        position: relative !important;
        display: flex !important;
        width: 500px !important;
        border-left: solid var(--border-light) 1px !important;
    }
}

@font-face {
    font-family: 'Phasmophobia';
    src: url('../fonts/october_crow.ttf');
}

html {
    color: var(--text-primary);
    background-color: var(--background);
    font-size: 1em;
    font-family: sans-serif;
    scroll-behavior: smooth;
    scrollbar-color: var(--primary) transparent;
}

::-webkit-scrollbar {
	width: 3px;
	height: 3px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--primary);
}

::selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

::-moz-selection {
    color: var(--black);
    background: var(--primary);
    text-shadow: none;
}

body {
    margin: 0;
}

input[type='checkbox'] {
    display: none;
}

h2, h3, p {
    margin: 0;
    padding: 0;
}

footer {
    display: flex;
    width: calc(100% - 80px);
    min-width: calc(var(--min-width) - 80px);
    padding: 80px 40px 20px 40px;
    font-size: 1em;
    background-color: #000000;
    border-top: solid 3px var(--primary);
    align-items: center;
    flex-direction: column;
}

footer nav {
    display: flex;
    width: 100%;
    max-width: var(--max-content-width);
    margin-bottom: 60px;
}

footer nav div {
    flex: 1;
}

footer nav div[type='social'] {
    display: flex;
    gap: 20px;
}

footer nav div[type='social'] svg {
    display: block;
    width: 40px;
    height: 40px;
    fill: var(--text-primary);
    transition: fill 0.3s;
}

footer nav div[type='social'] a:hover svg {
    fill: var(--primary);
}

footer title {
    display: block;
    color: var(--text-primary);
    font-weight: bold;
    margin-bottom: 10px;
}

footer ul {
    display: block;
    padding: 0;
    margin: 0 auto;
}

footer li {
    display: block;
    padding: 5px 0;
}

footer li a {
    font-size: 0.8em;
    color: var(--text-secondary);
    text-decoration: none;
    transition: color 0.3s;
    cursor: pointer;
}

footer li a:hover {
    color: var(--primary);
}

footer year {
    display: block;
    width: 100%;
    max-width: var(--max-content-width);
    height: 30px;
    padding-top: 20px;
    color: var(--white);
    border-top: solid 1px var(--white);
    line-height: 30px;
    font-size: 0.8em;
}

footer year span {
    color: var(--primary);
}
